<!-- <h1>Builtin Pipes</h1>
<hr>
<p>{{'Ajinkya' | uppercase}}</p>
<p>{{'AJINKYA' | lowercase}}</p>
<p>{{'Ajinkya' | titlecase}}</p>
<hr>

<h3>Date Pipe</h3>
<p>{{CurrentDate}}</p>
<p>{{CurrentDate | date : 'full'}}</p>
<p>{{CurrentDate | date : 'short'}}</p>
<p>{{CurrentDate | date : 'medium'}}</p>
<p>{{CurrentDate | date : 'dd MMM yyyy' }}</p>
<hr> -->

<h3>Number Pipe</h3>
<p>{{decimalValue}}</p>
<p>{{decimalValue | number : '1.1-2'}}</p>
<p>{{percentage | percent : '1.2-3'}}</p>
<!-- 80  = 80.00% -->
<p>{{currency | currency : 'USD'}}</p>
<hr>

<!-- <h3>Slice Pipe</h3>
<p>{{'Ajinkya' | slice : 0 : 3}}</p>
<p>{{fruits | slice : 1 : 4}}</p>
<p>use -2 : {{fruits | slice : -25}}</p>
<hr> -->

<h3>Json Pipe</h3>
<p>{{fruits | json}}</p>
<p>{{myObject | json}}</p>
<hr>


<h3>Key Value Pipe</h3>
<!-- Here, track $index tells Angular how to identify each item in the array
  while rendering the @for loop.
 $index → current array index: 0, 1, 2, etc.
  
 Why do we need track?
Angular needs a way to efficiently determine which DOM element belongs to which item when the array changes.
 
But if objects have a unique ID
setting = [
  { id: 1, theme: 'dark', language: 'en' },
];
@for (mySetting of setting; track mySetting.id) 
-->
@for (mySetting of setting; track $index) {
  <p>
    Theme --- {{ mySetting.theme }}
  </p>

  <p>
    Language --- {{ mySetting.language }}
  </p>
}
<hr><hr>

<!-- IMP: keyvalue loops through the properties of ONE object -->
 @for (setting of mySetting | keyvalue; track setting.key) {
  <p>
    {{ setting.key }} --- {{ setting.value }}
  </p>
}

<hr>
<h2>7. Async Pipe</h2>
<!-- we use with RxJS Observable, get latest emitted value 
 automatically unsubscribe when component is destroyed. -->

 